<launch>
  <arg name="model" default="model_base"/>
  <arg name="init_pose"/>
  <arg name="namespace"/>

  <include file="$(find multirobot_map_merge_tests)/launch/includes/kobuki.launch.xml">
    <arg name="base" value="kobuki"/>
    <arg name="stacks" value="hexagon"/>
    <arg name="3d_sensor" value="kinect"/>
    <arg name="namespace" value="$(arg namespace)"/>
  </include>

  <node pkg="robot_state_publisher" type="robot_state_publisher"
        name="robot_state_publisher" output="screen">
    <param name="publish_frequency" type="double" value="30.0" />
    <param name="use_tf_static" value="true"/>
    <param name="tf_prefix" value="$(arg namespace)"/>
  </node>

  <!-- Gazebo model spawner -->
  <node name="spawn_turtlebot_model" pkg="gazebo_ros" type="spawn_model"
        args="$(arg init_pose) -unpause -urdf -param /robot_description -model $(arg model)"/>

  <!-- Gmapping -->
  <include file="$(find multirobot_map_merge_tests)/launch/includes/kinect_gmapping.launch.xml">
    <arg name="namespace" value="$(arg namespace)"/>
  </include>

  <!-- Move base -->
  <include file="$(find multirobot_map_merge_tests)/launch/includes/move_base.launch">
    <arg name="custom_param_file" default="$(find icclab_turtlebot)/param/icclab_dwa_local_planner_params_override.yaml"/>
  </include>

  <!-- Fake laser -->
  <node pkg="nodelet" type="nodelet" name="laserscan_nodelet_manager" args="manager"/>
  <node pkg="nodelet" type="nodelet" name="depthimage_to_laserscan"
        args="load depthimage_to_laserscan/DepthImageToLaserScanNodelet laserscan_nodelet_manager">
    <param name="scan_height" value="10"/>
    <param name="output_frame_id" value="$(arg namespace)/camera_depth_frame"/>
    <param name="range_min" value="0.45"/>
    <remap from="image" to="camera/depth/image_raw"/>
  </node>
</launch>
